body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
}

/*
 * Navbar
 */

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.nav .flex-column .nav-item {
    color: #fcb606;

}

/** Gradient Navbar **/

.navbar {
    background-image:linear-gradient(90deg, #4c9470 0%, #affa64 100%, rgba(44,249,78,0.41) 100%);
    width:99.99%;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
    -webkit-box-shadow: -7px 11px 25px -9px rgb(114,57,174);
    -moz-box-shadow: -7px 11px 25px -9px rgb(66,26,104);
    box-shadow: -7px 11px 25px -9px rgb(66,26,104);

    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.btn {
    /** Modern material button **/
    background: linear-gradient(90deg, rgb(91, 5, 87), rgb(144, 36, 148), rgb(65, 10, 31), rgb(60, 7, 23));
    border-radius: 50px;
    border: 10px;
    color: #ffffff;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-box-shadow: -7px 11px 25px -9px rgb(114,57,174);
    -moz-box-shadow: -7px 11px 25px -9px rgb(66,26,104);
    box-shadow: -7px 11px 25px -9px rgb(66,26,104);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

/* Edit cart border radius and outline color    */

.card {
    border-radius: 10px;

    border: 1px solid rgba(126, 165, 127, 0.24);
    -webkit-box-shadow: -7px 11px 25px -9px rgb(114,57,174);
    -moz-box-shadow: -7px 11px 25px -9px rgb(66,26,104);
    box-shadow: -7px 11px 25px -9px rgb(66,26,104);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

/* Edit Scrollbar to look like nav bar   */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: linear-gradient(90deg, rgba(5, 91, 48, 0.32), rgb(75, 122, 51), rgb(69, 157, 100), rgb(74, 134, 58));
    border-radius: 10px;
    -webkit-box-shadow: -7px 11px 25px -9px rgb(114,57,174);
    -moz-box-shadow: -7px 11px 25px -9px rgb(66,26,104);
    box-shadow: -7px 11px 25px -9px rgb(66,26,104);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(5, 91, 48, 0.32), rgb(75, 122, 51), rgb(69, 157, 100), rgb(74, 134, 58));
    border-radius: 10px;
    -webkit-box-shadow: -7px 11px 25px -9px rgb(73, 174, 57);
    -moz-box-shadow: -7px 11px 25px -9px rgb(26, 104, 44);
    box-shadow: -7px 11px 25px -9px rgb(66,26,104);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

.btn .btn-danger {
    background: linear-gradient(90deg, rgb(98, 28, 89), rgba(236, 106, 156, 0.2), rgba(47, 30, 107, 0.1), rgba(136, 192, 114, 0.1));
    border-radius: 50px;
    border: 10px;
    color: #843030;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-box-shadow: -7px 11px 25px -9px rgb(114,57,174);
    -moz-box-shadow: -7px 11px 25px -9px rgb(66,26,104);
    box-shadow: -7px 11px 25px -9px rgb(66,26,104);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

.btn btn-outline-secondary{
    --bs-btn-color:#6c757d;
    --bs-btn-border-color:#6c757d;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#6c757d;
    --bs-btn-hover-border-color:#6c757d;
    --bs-btn-focus-shadow-rgb:108,117,125;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#6c757d;
    --bs-btn-active-border-color:#6c757d;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#6c757d;--bs-btn-disabled-bg:transparent;
    --bs-btn-disabled-border-color:#6c757d;--bs-gradient:none
}
/** Style all elements with different colors all, used in project **/
.header {
    padding-bottom: 10px;
}

.link-secondary {
    color: #6c757d;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-primary {
    color: #0d6efd;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-success {
    color: #198754;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-info {
    color: #0dcaf0;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-warning {
    color: #ffc107;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-danger {
    color: #dc3545;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-light {
    color: #f8f9fa;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-dark {
    color: #212529;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-white {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-black {
    color: #000;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-body {
    color: #212529;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-mute {
    color: #6c757d;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.link-white {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.loader {
    width: 48px;
    height: 48px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: #00ff04;
    width: 6px;
    height: 6px;
    transform: translate(150%, 150%);
    border-radius: 50%;
}
.loader::before {
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    transform: translate(-150%, -150%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}