
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">


    <meta name="description" content="">
    <title>AIGEN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta name="theme-color" content="#712cf9">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="http://localhost:8095/assets/platform.css" rel="stylesheet">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="http://aigen.azurewebsites.net/img/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://aigen.azurewebsites.net/img/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://aigen.azurewebsites.net/img/icon.png">

    <style>
        .loader {
            width: 48px;
            height: 48px;
            border: 2px solid #FFF;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
        }
        .loader::after,
        .loader::before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 0;
            background: #00ff04;
            width: 6px;
            height: 6px;
            transform: translate(150%, 150%);
            border-radius: 50%;
        }
        .loader::before {
            left: auto;
            top: auto;
            right: 0;
            bottom: 0;
            transform: translate(-150%, -150%);
        }

        @keyframes rotation {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>

<header>
    <div class="collapse bg-dark" id="navbarHeader" style="background-color: #affa64;">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark  shadow-lg fixed-top" style="background-image:linear-gradient(90deg, #4c9470 0%, #affa64 100%, rgba(44,249,78,0.41) 100%);">
        <div class="container">
            <a href="./" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                <strong>AIGEN</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main>

    <section class="py-5 text-center">
        <div class="container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="card" style="background-image: linear-gradient(90deg, #c3dacd 0%, #adc598 100%, rgba(100,167,110,0.41) 100%); border-radius: 24px; box-shadow: 0 0 20px 0 rgba(0,0,0,0.2); padding: 16px;">
                        <div class="card-body">
                        <h1>AIGEN</h1>
                        <form method="POST">
                            <label>Type words to generate Design:</label><br>
                            <label>
                                <input style="background-image: linear-gradient(90deg, #4c9470 0%, #affa64 100%, rgba(44,249,78,0.41) 100%); border-radius: 24px; border: none; box-shadow: none; color: #fff; font-size: 16px; font-weight: 500; height: 48px; padding: 0 16px; width:100%;" type="text" name="search" class="form-control" placeholder="Generate Image" required>
                            </label><br>
                            <button type="submit" style="background-image: linear-gradient(90deg, rgba(36,155,93,0.57) 0%, #5fb913 100%, rgba(62,124,72,0.41) 100%); border-radius: 24px; border: none; box-shadow: none; color: #fff; font-size: 16px; font-weight: 500; height: 48px; width: auto; padding: 0 16px; margin-top: 12px;">Generate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--- container with big quoted prompt fro Search --->
    {{if .Search}}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h1>Prompt: {{.Search}}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {{range .ImageURLs}}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{.}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/product?id={{.Id}}"><button type="button" class="btn btn-lg btn-outline-success" style="background-image: linear-gradient(90deg, #4c9470 0%, #affa64 100%, rgba(44,249,78,0.41) 100%);">Purchase</button></a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                                </div>
                                <small class="text-muted">Now</small>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>    

   <div class="album py-5 bg-light">
       <div class="container" class="text-center">
           <p id="demo"><span class="loader">
           </span>
           </p>

   </div>



    <script>

        var requestOptions = {
            method: 'GET',
            redirect: 'follow'
        };
        getProducts();

        async function getProducts() {
            let requestOptions = {
                method: 'GET',
                redirect: 'follow'
            };

            let url = "https://aigen.azurewebsites.net";
            if (window.location.hostname === "localhost") {
                url = "http://localhost:8095";
            }

            let myObject = await fetch(url + "/backend/api/products", requestOptions);
            let myText = await myObject.text();
            let updatedString = myText.replace(/<nil>/g, '');
            var Stuff = JSON.parse(updatedString);

            var loops = "";
            for (var i = 0; i < Stuff.length; i++) {
                loops += "<div class='col'><div class='card shadow-lg'>" +
                    "<div class='card-body'><h5 class='card-title'>" + Stuff[i].name + "</h5>" +
                    "<p class='card-text'>" + Stuff[i].description + "</p>" +
                    "<p class='card-text'>" + Stuff[i].price + "</p>" +
                    "<img src='" + url + "/" + Stuff[i].image + "' class='card-img-top' alt='...'>" +
                    "<a href='/product?id=" + Stuff[i].id + "'>" +
                    "<button type='button' class='btn btn-lg btn-outline-success' style='background-image: linear-gradient(90deg, #4c9470 0%, #affa64 100%, rgba(44,249,78,0.41) 100%);'>Purchase</button></a></div></div></div>" +
                    "<br>";

            }
            document.getElementById("demo").innerHTML = loops;

        }

    </script><!---->

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Gundo &copy;</p></div>
</footer>
</body>
</html>